/* header start */
header{
    display: flex;
    width:100% ;
    height: 80%;
    background: rgba(231, 81, 114, 0.2);
}
.header-heading{
    font-size: 80px;
    padding-left:240px ;
    font-family: 'Chela One', cursive;
}
.hader-paragraph{
    font-size: 18px;
    padding-left:240px ;
    font-family: 'Lato', sans-serif;
    color: rgba(39, 39, 39, 0.60);
}
.shpo-now-btn{
    margin-left: 240px;
    padding: 20px 45px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
}
/* header end */
/* start body section */
.body-heading{
    margin-top:8% ;
    color: #414141;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.body-paragraph{
    display: flex;
    width: 594px;
    flex-direction: column;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
}
/* adustment of flowers pic */
.example-flowers{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    
}
.flower{
    width: 464px;
    height:538px ;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: auto;
}
.flower-name{
    color: #454545;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.flowers{
    margin-left:15% ;
    margin-top: 3%;
}
.flower1{
     margin-left:15% ;
    margin-top: 12%;
}
/* start icon section */
.icons-section{
    margin-top: 15%;
    display: flex;
    justify-content: space-evenly;
}
.icon-pera{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}
.icon-img{
    margin-left: 30%;
}
/* end icon section */
/* start discount offer section */
