/* header start */
header{
    display: flex;
    width:100% ;
    height: 80%;
    background: rgba(231, 81, 114, 0.2);
}
.header-heading{
    font-size: 80px;
    padding-left:240px ;
    font-family: 'Chela One', cursive;
}
.hader-paragraph{
    font-size: 18px;
    padding-left:240px ;
    font-family: 'Lato', sans-serif;
    color: rgba(39, 39, 39, 0.60);
}
.btn-primary{
    margin-left: 240px;
    padding: 20px 45px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
}
/* header end */
/* start body section */
.body-heading{
    margin-top:8% ;
    color: #414141;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.body-paragraph{
    display: flex;
    width: 594px;
    flex-direction: column;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
}
/* adustment of flowers pic */
.example-flowers{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    
}
.flower{
    width: 464px;
    height:538px ;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: auto;
}
.flower-name{
    color: #454545;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.flowers{
    margin-left:15% ;
    margin-top: 3%;
}
.flower1{
     margin-left:15% ;
    margin-top: 12%;
}
.flowers2{
    margin-left:15% ;
    margin-top: -5%;
}
.yellow-rose{
    margin-top:-10px ;
    color: #454545;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
/* start icon section */
.icons-section{
    margin-top: 15%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}
.icon-pera{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}
.icon-img{
    margin-left: 30%;
}
/* end icon section */
/* start discount offer section */
.offer-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 32.5%;
}
.offer-section{
    margin-top: 5%;
    margin-right:15% ;
}
.offer-headings{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.offer-paragraph{
    display: flex;
    width: 580px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* end offer section */
.extra-info-header{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.extra-info-para{
    margin: 0 auto ;
    text-align: center;
   width: 580px;
   color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
   font-weight: 400;
    line-height: 30px;
    margin-bottom: 5%;
}
.extra-flower-pics{
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* input email section */
.input-email{
    background-image: url("../Flower Asset/Rectangle\ 9.png"); 
    background-repeat: no-repeat;
    width: 76%;
    height: 440px ;
    margin:20px auto ;
}
.input-headings{
    padding-top:5% ;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.input-para{
    margin-bottom: 50px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.input{
    width: 700px;
    height: 64px;
    margin-left:20% ;
    background-color: #FFF;
    border: none;
    border-radius: 8px;
}
.subscrib-btn{
    margin-left:10px ;
    padding: 20px 45px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
}
/* end input section  */
footer{
    width: 100%;
    height: 449px;;
    background-color: black;
}
.footer-heading{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.shop{
    color: #FFF;
}
.footer-para{
    text-align: center;
    width: 625px;   
    color: rgba(255, 255, 255, 0.90);    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
}
.last-line{
    margin: 20px auto;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}